.card-title {
  font-family: Iosevka;
  font-style: normal;
  font-size: 27pt;
}

@font-face {
  font-family: Iosevka;
  src: url(/fonts/iosevka-regular.ttf) format("truetype");
}

.iosevka {
  font-family: Iosevka;
}

.slender {
  font-weight: normal;
}

.no-flex {
  display: unset;
}

.content {
  margin-right: 20px;
  margin-left: 20px;
}

p {
  line-height: 1.5;
}

.gl {
  color: #fc6d27;
}