@font-face {
  font-family: Iosevka;
  src: url(/fonts/iosevka-regular.ttf) format("truetype");
}

.iosevka {
  font-family: Iosevka;
}

.slender {
  font-weight: normal;
}

pre {
  font-family: Iosevka;
}